<h1>Github project searcher</h1>
<%= form_tag({action: 'default_search', format: :js }, { remote: true, method: :get, id: 'default-search-form', onSubmit: 'alertWait()' }) do %>
 <%= submit_tag 'Basic setup with Ruby, Python, Javascript, Clojure and Go repositories' %>
<% end %>
<br>
<%= form_tag({action: 'search', format: :js }, { remote: true, method: :get, id: 'my-form', onSubmit: 'alertWait()'}) do %>
 <%= text_field_tag 'term', params[:term], placeholder: "Enter language to populate database" %>
 <%= submit_tag 'Search!' %>
<% end %>
<br>
<%= form_tag({action: 'clear_all', format: :js }, { remote: true, method: :delete, id: 'delete-form', onSubmit: 'alertWait()' }) do %>
 <%= submit_tag 'Clear saved projects' %>
<% end %>

<h2>Results: </h2>
<span id='about-search'> </span>
<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Project</th>
      <th>Popularity Score</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% if @project_entries.any? && @project_entries.keys.any? %>
        <% @project_entries.map do |language, entries| %>
          <%= render partial: 'entry' %>
      <% end %>
    <% end %>
  </tbody>
  <tbody id="language-reference">
  </tbody>
</table>
