<p id="notice"><%= notice %></p>

<%= link_to 'Back', project_entries_path %>

<p>
  <strong>Name:</strong>
  <%= @project_entry.name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @project_entry.language %>
</p>

<p>
  <strong>Link:</strong>
  <a href="<%= @project_entry.url %>"><%= @project_entry.url %></a>
</p>

<p>
  <strong>Details:</strong>
<% if @project_entry.info.present? %>
   <pre><%= JSON.pretty_generate(@project_entry.info) %></pre>
<% end %>
</p>

